// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.75rem;
$line-height-base: 1;

$warning: #ff9900;
$dark: #41424C;
//$success: #3eb991;
//$danger: #e01563;
//$primary: #037ef3;
